.vugluscr {
	--vugluscr-width: 12px;
	--vugluscr-marker-size: 3px;
	padding: 0;
	margin: 0;
	background-color: rgba(204, 204, 204, 0.3);
	height: 100%;
	min-width: var(--vugluscr-width);
	width: var(--vugluscr-width);
	position: sticky;
	top: 0px;
	left: unset;
	right: 0px;
	z-index: 99999;
	box-sizing: border-box;
	overflow: hidden;

	& * {
		left: unset;
	}

	&>* {
		position: relative;
		width: 100%;
		box-sizing: border-box;
	}

	& .vugluscr-track {
		margin: 0;
		padding: 0;
		height: 100vh;
		opacity: 0.5;
		background-color: rgba(204, 204, 204, 0.2);

		& :hover {
			opacity: 1;
			transition-duration: 0.2s;
		}
	}

	& .vugluscr-thumb-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		& .vugluscr-thumb {
			background-color: rgba(0, 0, 0, 0.514);
			opacity: 0.6;
			position: relative;
			min-height: 20px;
			width: 72%;
			margin: 0px auto;
			border-radius: var(--vugluscr-width);
			user-select: none;
			cursor: default;

			&:hover, &:active  {
				opacity: 0.8;
				transition-duration: 0.2s;
			}
		}
	}

	& .vugluscr-marker {
		height: var(--vugluscr-marker-size);
		width: 100%;
		position: absolute;

		& :hover {
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
			transition-duration: 0.3s;
		}
	}
}